@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  --border-color: #ff1493;
  --border-width: 2px;
  --bottom-distance: 0px; /* you can increase this */

  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}
/* .navbar-link-hover div :after {
  display: block;
  content: "";
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar-link-hover div:hover:after {
  transform: scaleX(1);
} */

.navbar-link {
  background-position: 50% calc(100% - var(--bottom-distance));
}

h1:hover {
  background-size: 100% var(--border-width);
}


a.tip:hover {
  
  position: relative;
  
  
}
a.tip span {
  display: none;
  
}

a.tip:hover img{
  visibility:hidden;
}
a.tip:hover span {
  border: #8b5cf6 2px solid;
  padding: 8px 5px 8px 5px;
  display: block;
  z-index: 100;
  right: 0px;
  font-weight: 500;
  font-size: large;
  
  border-radius:5%;
  
  position: absolute;
  top: 15px;
  text-decoration: none
}
